*{
    margin: 0;
    padding: 0;
    font-family: verdana, Arial;
    box-sizing: border-box;
}

:root{
    --bg-color:#1c1c1c;
   --bg-color-2:#363636;
    --text-color:#dcdcdc;
    --link-color:#b0c4de;
    --link-color-hover:gold;

}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header , footer{
    
    background-color: var(--bg-color-2);
}
main{
    margin: 50px 0;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1070px;
    margin: 0 auto;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.navbar {
      display: flex ;
}
.navbar li{
   list-style: none;  
    
}
.navbar a{
    text-decoration: none;
    color: var(--link-color);
    padding: 10px 30px;
}
.navbar a:hover{
    color: var(--link-color-hover);
}

#main{
    display: flex;
    justify-content: space-between;
}
#photo{
    width: 40%;
}
#description{
    width: 50%;
}

#sorvete{
width: 100%;
    height: 100%;
}
#footer{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 860px){
    #header{
    padding: 20px;
flex-direction: column;
    }
  
}