
*{
    margin: 0;
    padding: 0;
    font-family: verdana, arial;
    box-sizing: border-box
}

body{
    background-color: antiquewhite;
    margin:0
}

/* ids e classes*/
header{
    background-color: white;
}
main{
    padding: 50px 0;;
}
footer{
background-color: grey;
padding: 20px 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1070px;

      /*top right bottom left*/
    margin: 0px auto 0px auto;
}
.navbar{
    display: flex;
    
}
.navbar li{
    /*tirar os pontinhos marcadores da lista*/
    list-style: none;
}
.navbar a{
margin: 10px 20px;
/* sublinhado do link*/
text-decoration: none;
color: black;
}
.navbar a:hover{
    color: lightgray;
}


#logo{
width: 100px;
}
#about{
    display: flex;
    justify-content: space-between;
}
#about-photo{
width: 40%;

}
#about-description{
    width: 50%;

}
#footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

